/* Basic Style */
:root {
  --primary-color: #f8f8f8;
  --secondary-color-gray3: #DDDDDDFF;
  --background-secondary-color: #888888ff;
  --secondary-color-gray-lighter: #3a3A3aff;
  --secondary-color-gray: #333333ff;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color-gray);
  font-family: Lato, sans-serif;
}

/* Reset style */
input,
button {
  outline: none;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-section__input-text,
.task-item__label,
.task-item__input-text {
  flex-grow: 1
}

.task-list {
  margin: 0;
  padding: 0px;
  list-style: none;
}

.task-section__button,
.task-item__button {
  background: none;
  border: 0px;
  color: var(--background-secondary-color);
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.task-section__button:hover,
.task-item__button:hover {
  color: var(--secondary-color-gray-lighter);
}

/* Heading */
.task-section__title {
  color: var(--secondary-color-gray);
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid var(--secondary-color-gray);
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-section__input-text,
.task-item__input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid var(--secondary-color-gray3);
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: var(--background-secondary-color);
}

.task-section__input-text:focus,
.task-item__input-text:focus {
  color: var(--secondary-color-gray);
}

.task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item__checkbox {
  margin: 0 10px;
}

.task-item__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task-item__input-text {
  width: 226px;
}

.task-item__button--delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task-item__button--delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.task-list--completed .task-item__label {
  text-decoration: line-through;
  color: var(--background-secondary-color);
}

/* Edit Task */
.task-item__input-text {
  display: none;
}

#new-task,
.task-item--editing .task-item__input-text {
  display: inline-block;
}

.task-item--editing .task-item__label {
  display: none;
}